* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    /* background: #111; */
}

body{
    overflow-x: hidden;
}
/*#box1 {
    height: 300px;
    width: 300px;
    background: cadetblue;
}

#box2 {
    height: 300px;
    width: 300px;
    background: rgb(205, 10, 195);
}

#box {
    height: 300px;
    width: 300px;
    background: cadetblue;
}*/

/* #box1 {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
}

#box2 {
    width: 300px;
    height: 300px;
    background-color: rgb(13, 199, 35);
}

#box3 {
    width: 300px;
    height: 300px;
    background-color: rgb(231, 13, 198);
} */

/*#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
} 

#part2 {
    display: flex;
    gap: 50px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    white-space: nowrap;
}*/











/* #page1 {
    height: 100%;
    width: 100%;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    height: 100%;
    width: 100%;
    background: rgb(12, 181, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

#page3 {
    height: 100%;
    width: 100%;
    background: rgb(4, 45, 58);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    height: 300px;
    width: 300px;
    background-color: coral;
}

h1{
    font-size: 60px;
    position: relative;
    background: red;
}

h2{
    font-size: 60px;
    position: relative;
    background: yellowgreen;
} */











#page1{
    width: 100%;
    height: 100%;
    background: black;
}

#page2{
    width: 100%;
    height: 100%;
    background: rgb(59, 160, 211);
}

#page3{
    width: 100%;
    height: 100%;
    background: black;
}

#page2 h1{
    font-size: 40vw;
    font-weight: 600;
    text-transform: uppercase;
}