* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    /* background: #111; */
    /* background: black; */
}

body {
    /* overflow-x: hidden; */
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/*#box1 {
    height: 300px;
    width: 300px;
    background: cadetblue;
}

#box2 {
    height: 300px;
    width: 300px;
    background: rgb(205, 10, 195);
}

#box {
    height: 300px;
    width: 300px;
    background: cadetblue;
}*/

/* #box1 {
    width: 300px;
    height: 300px;
    background-color: blueviolet;
}

#box2 {
    width: 300px;
    height: 300px;
    background-color: rgb(13, 199, 35);
}

#box3 {
    width: 300px;
    height: 300px;
    background-color: rgb(231, 13, 198);
} */

/*#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
} 

#part2 {
    display: flex;
    gap: 50px;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    white-space: nowrap;
}*/











/* #page1 {
    height: 100%;
    width: 100%;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    height: 100%;
    width: 100%;
    background: rgb(12, 181, 237);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

#page3 {
    height: 100%;
    width: 100%;
    background: rgb(4, 45, 58);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    height: 300px;
    width: 300px;
    background-color: coral;
}

h1{
    font-size: 60px;
    position: relative;
    background: red;
}

h2{
    font-size: 60px;
    position: relative;
    background: yellowgreen;
} */











/* #page1 {
    width: 100%;
    height: 100%;
    background: black;
}

#page2 {
    width: 100%;
    height: 100%;
    background: rgb(59, 160, 211);
}

#page3 {
    width: 100%;
    height: 100%;
    background: black;
}

#page2 h1 {
    font-size: 40vw;
    font-weight: 600;
    text-transform: uppercase;
} */

/* #string {
    height: 200px;
    width: 100%;
    background: red;
} */


/* #main {
    width: 100%;
    height: 100%;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}


#cursor {
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 50%;
    position: fixed;
    font-size: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9;
}

#image {
    width: 60vw;
    height: 30vw;
    background: red;
    position: relative;
}

#image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#overlay{
    background: rgba(255, 255, 255, 0.224);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
} */






/* #main {
    height: 100%;
    width: 100%;
    background-image: url("https://images.unsplash.com/photo-1463889253028-c66b99254e18?q=80&w=1776&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    color: #fff;

}

#nav h2 {
    font-size: 30px;
}

#nav i {
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

#full {
    height: 100%;
    width: 40%;
    position: absolute;
    background: rgba(255, 255, 255, 0.149);
    top: 0;
    right: -40%;
    backdrop-filter: blur(10px);
    padding: 150px 60px;
}

#full h4 {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 10px;
}

#full i {
    position: absolute;
    top: 5%;
    right: 10%;
    background: white;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
} */



/* h1{
    font-size: 100px;
    background: red;
    overflow: hidden;
}

h1 span{
    display: inline-block;
} */