button{
    color:blue;
}
.box{
    height:100px;
    width:100px;
    border:2px solid blue;
    background-color: beige;
}

.content{
    color:red;
}

.newclass{
    background-color: green;
}