* {
    margin: 0;
    padding: 0;
    text-align: center;
}

#navbar {
    height: 10vh;
    background-color: rgb(138, 104, 219);
    text-align: center;
}

h1 {
    font-size: 70px;
    font-weight: bolder;
}

.choice {
    height: 165px;
    width: 165px;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    /* border-radius: 50%; */
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 10px;
}

img:hover {
    opacity: 0.5;
    cursor: pointer;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-top: 3rem;
    gap: 5rem;
    margin-bottom: 4rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

#msg {
    font-size: 3rem;
    background-color: aqua;
    display: inline;
    padding: 4px;
}