/* button{
    color:blue;
}
.box{
    height:100px;
    width:100px;
    border:2px solid blue;
    background-color: beige;
}

.content{
    color:red;
}

.newclass{
    background-color: green;
}

#div1{
    height:100px;
    width:100px;
    background-color:pink;
} */

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: pink;
  text-align: center;
}

.container {
  height: 70vh;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  /* gap:1.5vmin; */
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  font-size: 8vmin;
  color: red;
  background-color: light rgb(192, 192, 243);
}

.reset {
  padding: 1vmin;
  color: Red;
  background-color: beige;
  margin: 2px solid blue;
}

.hide {
  display: none;
}
